.container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .nama {
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
  }

  .gambar {
    width: 350px;
    height: 350px;
  }

  .footer {
    display: flex;
    justify-content: center;
    font-style: italic;
    background-color: aqua;
}

.link {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: yellow;
}